<a href="https://colab.research.google.com/github/rafaelcamelo31/Bebidas/blob/master/Bebidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 13, 6

In [2]:
dataset = pd.read_csv('Consumo_cerveja.csv')
dataset.head()

         Data  ... Consumo de cerveja (litros)
0  2015-01-01  ...                      25.461
1  2015-01-02  ...                      28.972
2  2015-01-03  ...                      30.814
3  2015-01-04  ...                      29.799
4  2015-01-05  ...                      28.900

[5 rows x 7 columns]

In [3]:
dataset.dtypes

Data                            object
Temperatura Media (C)           object
Temperatura Minima (C)          object
Temperatura Maxima (C)          object
Precipitacao (mm)               object
Final de Semana                float64
Consumo de cerveja (litros)    float64
dtype: object

In [0]:
dataset.drop(['Temperatura Media (C)', 'Temperatura Minima (C)', 'Temperatura Maxima (C)', 'Precipitacao (mm)', 'Final de Semana'], inplace=True, axis=1)
dataset.dropna(inplace=True)

In [5]:
dataset.head()

         Data  Consumo de cerveja (litros)
0  2015-01-01                       25.461
1  2015-01-02                       28.972
2  2015-01-03                       30.814
3  2015-01-04                       29.799
4  2015-01-05                       28.900

In [6]:
dataset.dtypes

Data                            object
Consumo de cerveja (litros)    float64
dtype: object

In [7]:
dataset['Data'] = pd.to_datetime(dataset['Data'], infer_datetime_format=True)
dataset.dtypes

Data                           datetime64[ns]
Consumo de cerveja (litros)           float64
dtype: object

In [0]:
X = dataset['Data']
y = dataset['Consumo de cerveja (litros)']
X=np.array(X).reshape(-1, 1)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [18]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
y_pred = regressor.predict(X_test)
y_pred

TypeError: ignored

In [0]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)